@import "colors";

.container{
    
    margin: 0%;
    padding: 0%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-image: url('https://wallpaperaccess.com/full/166238.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    >.settings{
        
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    
}