@import "colors";
*{

    color: white;
}

.text-center{
    
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold ;
    
}
h4{
    font-size: 20px;
    color: white;
    margin-top: 8px;
    
    font-weight: bold ;
}
.hoodie-color{
    
    display: block;
    
    font-weight: bold ;
    float: left;
    >img{
        width: 15%;
        height: 15%;
        margin-left: 40px;
    }
}

input{
    height: 24px;
}
.text-color{
    color: $first;
    background-color: black;
}
.slider{
    color: white;
}
.button{
    background-color: $forth;
    color: white;
    width: 7rem;
    height: 2rem;
    margin-top: 1rem;
    border: 2px solid $first;
    cursor: pointer;
    &:hover{
        background-color: white;
        color: $first;
    }
}